* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #050505;
    width: 80%;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    color: #f1f1ed;
    min-height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
    color: #f1f1ed;
}

a:hover {
    text-decoration-line: underline;
    text-decoration-color: #8a6c3f;
}


/* Header */

header h1 {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.topBar {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "logo actionsBar";
    place-items: center;
}

.topBar .logo {
    margin: 20px;
    grid-area: logo;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* display: inline-block; */
    /* width: 30%; */
    /* padding: 1em 1em; */
    display: table-cell;
    padding: 10px;
}

.logo .initials {
    padding: 8px;
    border: 2px solid #f9fafa;
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
}


/* Acciones */

.actionsBar {
    grid-area: actionsBar;
    text-transform: uppercase;
    padding-right: 15px;
    justify-self: end;
}

.topBar .actions {
    grid-area: actions;
    display: inline-block;
}

.actions a:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #8a6c3f;
}


/* Barra de busquedad */

.search {
    margin-left: 20px;
    display: inline-block;
    align-items: center;
}

.search input {
    min-width: 10%;
    padding: 0 14px;
    height: 33px;
    line-height: 35px;
    /* border: 1px solid #f9fafa; */
    font-size: 16px;
}

button {
    border-radius: 5px;
    height: 32px;
    border: none;
    /* border: 1px solid #f9fafa; */
    /* border-left: none; */
    padding: 0 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #8a6c3f;
    border: #8a6c3f;
    color: #f9fafa;
}


/* Menu Principal */

.menu {
    z-index: 1200;
    position: sticky;
    top: 0;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #050505;
}


/* Bloque Galeria */

.sliderGaleria {
    height: 300px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
    color: #050505;
    background-image: url(https://images.unsplash.com/photo-1586897791687-7f5ff39beb05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


/* Bloque de noticias */

.news {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.img-new {
    height: 200px;
    overflow: hidden;
}

.news .new {
    background-color: #f9fafa;
}

.new .content {
    color: #8a6c3f;
    ;
    padding: 1em;
}

.news img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.new .content h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 16px;
}

.new .content p {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 16px;
}

.new .content a {
    color: #8a6c3f;
}


/* Sponsors */

.sponsors {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 60px 0 rgba(0, 0, 0, .1);
    /* background-image: linear-gradient(60deg, #000, #13262F); */
    padding: 54px;
}

.sponsors {
    background: #1D1F20;
    position: relative;
    border-radius: 3px;
}

.sponsors .sponsor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 2em;
}

.sponsors .sponsor-list .sponsor {
    color: #8a6c3f;
    transition: .4s;
    margin: 10px 20px;
    font-size: 40px;
}

.sponsors h3 {
    padding: 2em;
}

.tableData {
    margin-top: 1em;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.content_page {
    height: 60vh;
}

.title {
    margin-top: 1em;
}

.tableData td,
.tableData th {
    border: 1px solid #050505;
    padding: 8px;
}

.tableData tr:nth-child(even) {
    background-color: #050505;
}

.tableData tr:hover {
    background-color: #393E41;
}

.tableData th {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #8a6c3f;
    color: white;
    text-transform: uppercase;
}


/* Footer */

footer {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: end;
}

footer h5 {
    margin: 1em;
    display: inline-block;
}

@media all and (max-width: 900px) {
    footer {
        text-align: center;
    }
}

@media only screen and (max-width: 850px) {
    body {
        font-size: 80%;
    }
    .topBar {
        grid-template-columns: 1fr;
        grid-template-areas: "logo" "actionsBar";
        place-items: center;
    }
    .topBar .logo {
        align-items: flex-start;
    }
    .news {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        gap: 25px;
    }
    .sponsors .sponsor-list .sponsor {
        font-size: 30px;
    }
}

@media only screen and (max-width: 400px) {
    .menu {
        display: none;
    }
    .sponsors .sponsor-list .sponsor {
        font-size: 20px;
    }
}